* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'courier';
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 13px;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__hed {
  font-size: 5em;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  font-size: 1em;
  color: #8a8a8a;
}

.intro__text {
  margin: 2rem;
  font-size: 1em;
  max-width: 40rem;
}
